@import '../scss/main-import.scss';

.sidedrawer {
  width: 70%;
  height: 100vh;
  background-color: $gray;
  color: $black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  &__links {
    border: 1px solid #f00;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    li a {
        display: flex;
        padding:40px 20px;
        width: 100%;  
        border: 1px solid #f0f;
    }


  }
}
.sidedrawer.show {
  transform: translateX(0);
}

