@import '../scss/main-import.scss';

.cartpage {
  display: flex;
  justify-content: center;
  
  &__items, &__subtotal {
    margin: 50px 20px;
  }
  
  &__items {
    flex-basis: 70%;
    h2 {
      margin: 40px 0;
    }
  }
  &__subtotal {
    padding: 1%;
    flex-basis: 20%;
    height: 200px;
    background-color: $dark;
    .subtotal { 
      &__payment {
        font-size: 1.3rem;        
        span {
          color: $darkpastelgreen;
          padding-left: 20px;
        }
      }
      &__btnPay {
        margin-top: 50px;
        width: 100%;
        font-size: 1.3rem;        
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $primary;
        cursor: pointer;
        &:hover {
          background-color: $amber;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .cartpage {
    flex-direction: column;
    &__items, &__subtotal {
      margin: 0 20px;
      padding: 0 20px;
    }
    &__subtotal {
      margin-top: 20px;
      background-color: $main-bg;
    }
  }
}