@import '../scss/main-import.scss';

.homepage {
  &__title {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid $light;
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}