@import '../scss/main-import.scss';

.productpage {
  border: 1px solid #aaa;
  margin-top: 50px;
  display: flex;
  &__info {
    flex-basis: 70%;
    display: flex;
    .info__imgWrapper {
      // display: flex;
      flex-basis: 60%;
      margin: 20px;
      img {
        max-width: 100%;
        width: auto;
        // border: 1px solid #aaa;
      }
    }
    &__description {
      // border: 1px solid #aaa;      
      margin: 20px;
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      
      justify-content: flex-start;
      // align-items: flex-start;
      .description__name,
      .description__price,
      .description__description
      {
        width: 100%;
        padding: 5% 4%;
        background-color: $dark;
        @include border-in-backgroundcolor;
      }
    }
  }
  &__cart {
    flex-basis: 30%; 
    margin: 20px;
    .cart__price,
    .cart__status,
    .cart__quantity {
      display: flex;
      padding: 5% 4%;
      background-color: $dark;
      @include border-in-backgroundcolor;
      span {
        flex-basis: 50%;
      }
      span.status__green {
        color: $darkpastelgreen;
      }
      span.status__red {
        color: $danger;
      }
    }
    .cart__quantity {
      align-items: center;
    }
    .cart__quantity select {
      border: none;
      border-radius: 0;
      padding: 5px;
      background-color: $black;
      color: $light;
      font-size: 1rem;
    }
    .cart__addButton {
      margin: 40px 2px;
      padding: 20px;
      background-color: $primary;
      border-radius: 5px;
      text-align: center;
      color: $black;
      font-weight: 600;
      font-size: 1.3rem;
      cursor: pointer;
      &:hover {
        background-color: $amber;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .productpage {
    &__info {
      flex-basis: 50%;
      flex-direction: column;
    }   
    &__cart {
      flex-basis: 50%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .productpage {
    flex-direction: column;
    align-items: center;
    &__cart {
      width: 90%;
    }
  }
}